<h1>Title: <%= @movie.title %></h1>
<ul>
  <li>Release: <%= @movie.formatted_date %></li>
  <li>Runtime: <%= @movie.runtime %></li>
  <li>Genre: <%= @movie.genre %></li>
  <li>Directors: <%= @movie.directors %></li>
  <li> <%= image_tag(@movie.poster, size: "200x300", alt: "Poster for #{@movie.title}") %></li>
  <li>Plot: <%= @movie.plot %></li>
  <li>imdb Rating: <%= @movie.imdbRating %></li>
</ul>

<% if user_signed_in? %>
  <% if @movie.rated_by_user?(current_user) %>
    <p>Your Rating: <%= @movie.rating_by_user(current_user) %></p>
  <% else %>
    <%= render 'ratings/form' %>
  <% end %>
<% end %>