<div class="card movie-card" id="show-movie">
  <div class="card-header">
    <%= @movie.title %>
  </div>
  <%= image_tag(@movie.poster, alt: "Poster for #{@movie.title}", class: "card-img-top" ) %>
  <div class="card-body">
    <h5 class="card-title">imdb Rating: <%= @movie.imdbRating %></h5>
    <p class="card-text"><%= @movie.plot %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Release: <%= @movie.formatted_date %></li>
    <li class="list-group-item">Runtime: <%= @movie.runtime %></li>
    <li class="list-group-item">Genre: <%= @movie.genre %></li>
    <li class="list-group-item">Directors: <%= @movie.directors %></li>
  </ul>
  <div class="card-footer text-muted">
    <% if user_signed_in? %>
      <% if @movie.rated_by_user?(current_user) %>
        <% provide(:button_text, 'Edit Rating') %>
        <% provide(:path, rating_path(@rating) ) %>
        <p>Your Rating: <%= @movie.rating_by_user(current_user).user_rating %></p>
      <% else %>
        <% provide(:button_text, 'Rate Movie') %>
        <% provide(:path, ratings_path ) %>
      <% end %>

      <%= render 'ratings/form' %>
    <% else %>
      Log in to rate the movie.
    <% end %>
  </div>
</div>
